<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipe List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--
  <ion-card *ngFor="let recipe of listOfRecipes">
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-button color="dark" shape="round" fill="clear" (click)="cardFavourite(recipe)">
            <ion-icon name="heart" *ngIf="recipe.favourite" [ngStyle]="{'color': 'red'}"></ion-icon>
            <ion-icon name="star" *ngIf="!recipe.favourite" [ngStyle]="{'color': 'yellow'}"></ion-icon>
        </ion-button>
      </ion-fab>
      <ion-card-header (click)="onClickRecipe(recipe)">
        <ion-avatar *ngIf="recipe.imageLink">
          <ion-img [src]="recipe.imageLink"></ion-img>
        </ion-avatar>
        <ion-card-title>
            <ion-label>{{ recipe.name }}</ion-label>
        </ion-card-title>
      </ion-card-header>
  </ion-card>
  -->
  <ion-card *ngFor="let item of recipe">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-button color="dark" shape="round" fill="clear" (click)="cardFavourite(item.payload.doc.data())">
          <ion-icon name="heart" *ngIf="item.payload.doc.data().favourite" [ngStyle]="{'color': 'red'}"></ion-icon>
          <ion-icon name="star" *ngIf="!item.payload.doc.data().favourite" [ngStyle]="{'color': 'yellow'}"></ion-icon>
      </ion-button>
    </ion-fab>
    <ion-card-header (click)="onClickRecipe(item.payload.doc.data())">
      <ion-avatar *ngIf="item.payload.doc.data().imageLink">
        <ion-img [src]="item.payload.doc.data().imageLink"></ion-img>
      </ion-avatar>
      <ion-card-title>
          <ion-label>{{ item.payload.doc.data().name }}</ion-label>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="ion-padding-horizontal" slot="start" (click)="addDefaultRecipes()">
      Add Default Recipes
    </ion-button>
    <ion-button class="ion-padding-horizontal" slot="end" color="success" (click)="onAddRecipe()">
      <ion-icon slot="start" name="add"></ion-icon>
      Add Recipe
    </ion-button>
  </ion-toolbar>
</ion-footer>