<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <!--
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      -->
    </ion-buttons>
    <ion-title>Recipe List</ion-title>
    <ion-buttons slot="primary">
      <ion-button slot="primary" (click)="onAddRecipe()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-card *ngFor="let item of recipe; trackBy: trackRecipe">
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button color="dark" shape="round" fill="clear" (click)="cardFavourite(item.payload.doc.data())">
                <ion-icon name="heart" *ngIf="item.payload.doc.data().favourite" [ngStyle]="{'color': 'red'}"></ion-icon>
                <ion-icon name="star" *ngIf="!item.payload.doc.data().favourite" [ngStyle]="{'color': 'yellow'}"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <img *ngIf="item.payload.doc.data().imageLink" [src]="item.payload.doc.data().imageLink" alt="item.payload.doc.data().imageLink" (click)="onClickRecipe(item.payload.doc.data())">
          <ion-card-header (click)="onClickRecipe(item.payload.doc.data())">
            <ion-card-title>
                <ion-label>{{ item.payload.doc.data().name }}</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- {{ item.payload.doc.data().description | slice:0:100 }} -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
</ion-footer>