<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onFavourite()">
        <ion-icon *ngIf="favourite" name="heart"></ion-icon>
        <ion-icon *ngIf="!favourite" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img [src]="imageLink"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-row>
            <h1>
              {{ name }}
              <ion-icon name="heart" *ngIf="favourite" [ngStyle]="{'color': 'red'}"></ion-icon>
            </h1>
        </ion-row>
        <ion-row>
            <p>
              <ion-label *ngIf="description">Description: {{ description }}</ion-label>
              <ion-label *ngIf="!description">There is no description for this recipe.</ion-label>
            </p>
        </ion-row>
        <ion-row>
            <p>
              <ion-label *ngIf="ingredients">Ingredients needed: {{ ingredients }}</ion-label>
              <ion-label *ngIf="!ingredients">There is no ingredient data for this recipe.</ion-label>
            </p>
        </ion-row>
        <ion-row>
          <p>
            <ion-label *ngIf="timeNeeded">Time needed to make: <b>{{ timeNeeded }}</b> minutes.</ion-label>
            <ion-label *ngIf="!timeNeeded">There is no time needed data for this recipe.</ion-label>
          </p>
        </ion-row>
        <ion-row>
          <p>
            <ion-label *ngIf="favourite"  [ngStyle]="{'color': 'red'}">This is one of my favourite recipe!</ion-label>
          </p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" color="danger" (click)="onDeleteRecipe()">
      <ion-icon slot="start" name="trash"></ion-icon>
      Delete Recipe
    </ion-button>
    <ion-button slot="end" color="success" (click)="onAddRecipe()">
      <ion-icon slot="start" name="add"></ion-icon>
      Add Recipe
    </ion-button>
  </ion-toolbar>
</ion-footer>