<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="recipe-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteRecipe()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="onEditRecipe()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="onFavourite()">
        <ion-icon *ngIf="favourite" name="heart"></ion-icon>
        <ion-icon *ngIf="!favourite" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" size-xs="12">
        <ion-row>
          <!--<ion-img [src]="imageLink"></ion-img>-->
          <img src="{{ imageLink }}" alt="">
        </ion-row>
      </ion-col>
      <ion-col size-md="8" size-xs="12">
        <ion-row>
          <ion-text color="primary" position="floating">
            ID: {{id}}
          </ion-text>
        </ion-row>
        <ion-row>
            <h1>
              {{ name }}
              <ion-icon name="heart" *ngIf="favourite" [ngStyle]="{'color': 'red'}"></ion-icon>
            </h1>
        </ion-row>
        <ion-row>
            <p>
              <ion-label *ngIf="description">Description:</ion-label>
            </p>
        </ion-row>
        <ion-item>
          <p>
            {{ description }}
          </p>
        </ion-item>
        <ion-row>
          <p>
            <ion-label *ngIf="ingredients">Ingredients needed:</ion-label>
          </p>
        </ion-row>
        <ion-row>
          <ion-list>
            <ion-item *ngFor="let i of ingredients" lines="none"><ion-icon slot="start" name="play"></ion-icon>{{ i.ingredients }}</ion-item>
          </ion-list>
        </ion-row>
        <ion-row>
          <p>
            <ion-label *ngIf="timeNeeded">Time needed to make: <b>{{ timeNeeded }}</b> minutes.</ion-label>
          </p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
</ion-footer>