// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // Modified colors
  --ion-color-primary: #FF5400;
  --ion-color-primary-tint: #FF8245;
  --ion-text-color: #FFBD00;
  --ion-text-color-2: #6d5000;
  --ion-background-color: #2a2a2a;
  --ion-background-color-2: #575757;
  --ion-background-color-quill: #494949;

  ion-row>img  {
    border-radius: 2%;
    width: 100%;
  }

  ion-card {
    color: var(--ion-text-color);
    background: rgb(37,37,37);
    background: linear-gradient(45deg, #3a3a3a 0%, #494949 40%, #232323 100%);
  }

  ion-card-title {
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    background: -webkit-linear-gradient(var(--ion-text-color), var(--ion-text-color-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // h1 {
  //   font-size: xx-large;
  //   border-radius: 5%;
  //   padding: 5px;
  //   background: -webkit-linear-gradient(var(--ion-text-color), var(--ion-text-color-2));
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }

  h1 {
    word-break: break-word;
  }

  ion-item>ion-icon {
    color: white;
  }

  ion-item {
    width: 100%;
  }

  p ion-label {
    font-weight: 500;
    letter-spacing: .1em;
    background: #5c3700;
    padding: 10px;
  }

  ion-item>quill-editor {
    background: white;
  }

  ion-item>quill-editor>svg {
    color: white;
  }

  #quill-editor {
    background-color: var(--ion-background-color-quill);
    border: none;
  }

  #quill-viewer {
    background-color: var(--ion-background-color-quill);
    border: none;
    width: 100%;
  }

  .ql-toolbar {
    background-color: darkgrey;
    border: none;
  }
}
