<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-xs="10" offset-xs="1">
        <form [formGroup]="addRecipeForm" (ngSubmit)="onSubmitRecipe(addRecipeForm)">
          <ion-item>
            <ion-label position="floating">Recipe Name: <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="recipeName" type="text" maxlength="40" placeholder="Awesome recipe"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">Image Link: <ion-text color="danger"></ion-text>
            </ion-label>
            <app-image-upload-component [imageUploaded]="imageLink" (outputImageFile)="getNewImageFile($event)">Image upload component not loaded</app-image-upload-component>
          </ion-item>
          <ion-item>
            <div>
              <ion-label>
                Description:
              </ion-label>
            </div>
          </ion-item>
          <div id="quill-editor"></div>
          <ion-item lines="none">
            <ion-label>
              Ingredients: <ion-text color="danger">*</ion-text>
            </ion-label>
          </ion-item>
          <div formArrayName="ingredientsArray">
            <ion-item *ngFor="let ingredients of getControls(); index as i" [formGroupName]="i">
              <div class="ion-padding-end">
                Ingredient {{i+1}}: 
              </div>
              <ion-input required type="text" maxlength="30" formControlName="ingredients"></ion-input>
              <ion-button *ngIf="addRecipeForm.get('ingredientsArray').controls.length > 1" (click)="onDeleteIngredients(i)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-button expand="full" (click)="addIngredients()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </div>
          <ion-item>
            <ion-label position="floating">Time Needed (minutes): <ion-text color="danger"></ion-text>
            </ion-label>
            <ion-input formControlName="timeNeeded" type="text" maxlength="4" pattern="\d{0,4}"
              placeholder="Insert time in minutes."></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="inline">Favourite: <ion-text color="danger"></ion-text>
            </ion-label>
            <ion-checkbox formControlName="favourite" [checked]="favourite"></ion-checkbox>
          </ion-item>
          <ion-item lines='none'>
            <ion-button color="secondary" (click)="addRecipeForm.reset()">Reset</ion-button>
          </ion-item>
        </form>
        <!--
        ID: {{ id }}
        Favourite: {{ favourite }}
        Form: {{ addRecipeForm.value | json }}
        -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="ion-padding-horizontal" slot="start" (click)="onDismiss()">
      Dismiss
    </ion-button>
    <ion-button class="ion-padding-horizontal" slot="end" type="submit" [disabled]="!addRecipeForm.valid || submitButtonBool" (click)="onSubmitRecipe(addRecipeForm)">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>