
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Budget Planner: A Ionic and Angular CRUD App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="content" menuId="menuId" side="start" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-label [routerLink]="['/recipe-list']">Recipe List</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>

<ion-content>
  <ion-router-outlet id="content"></ion-router-outlet>
  <!--
  <ion-button (click)="openMenu()" expand="full">Menu</ion-button>
  <ion-button (click)="loadRecipeList()" expand="full">Recipe List</ion-button>
  -->
  
  <form [formGroup]="BudgetPlannerForm" (ngSubmit)="onAdd()">
    <ion-item>
      <p class="ion-margin">
        Expenses:
      </p>
      <ion-input formControlName="title" type="text" class="ion-margin" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
      <p class="ion-margin">
        Cost ($):
      </p>
      <ion-input formControlName="value" type="number" class="ion-margin" inputmode="numeric"></ion-input>
    </ion-item>
    <ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="onClear()" expand="block" color="danger">
                <ion-icon slot="start" name="trash"></ion-icon>
                Clear
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button type="submit" expand="block" color="primary">
                <ion-icon slot="start" name="add"></ion-icon>
                Add Expenses
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-label color="danger" *ngIf="!BudgetPlannerForm.valid && !BudgetPlannerForm.pristine">Error: Form is invalid</ion-label>
        </ion-grid>
    </ion-item>
  </form>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Total Expenses</ion-card-title>
      <ion-card-subtitle>${{ totalExpenses }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <b>Expenses</b>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of expenses; let x = index;">
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              {{ item.title }}
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              ${{ item.value }}
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <ion-button (click)="onDelete(x)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>